@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');

@layer resets {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

/**
 * biome-ignore lint/suspicious/noUnknownAtRules: stylex
 * The @stylex directive is used by the @stylexjs/postcss-plugin.
 * It is automatically replaced with generated CSS during builds.
 */
@stylex;

/* Main Swiper Slider Styles */
.mainSlideSwiper .swiper-button-prev {
	left: 0;
}
.mainSlideSwiper .swiper-button-next {
	right: 0;
}
.mainSlideSwiper .swiper-button-next,
.mainSlideSwiper .swiper-button-prev {
	color: #fff;
}
.mainSlideSwiper .swiper-button-next::after,
.mainSlideSwiper .swiper-button-prev::after {
	padding: 14px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.5);
}
.mainSlideSwiper .swiper-pagination {
	color: #fff;
	font-size: 12px;
}

/* Font Family */
body {
	font-family: 'Montserrat', 'Pretendard', sans-serif;
}
