@layer resets {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

/**
 * biome-ignore lint/suspicious/noUnknownAtRules: stylex
 * The @stylex directive is used by the @stylexjs/postcss-plugin.
 * It is automatically replaced with generated CSS during builds.
 */
@stylex;
